
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.wrapper {
  text-align: center;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}


div input {
  padding: 10px;
  width: 250px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

#result {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(102, 8, 8, 0.267);
}

#result h2 {
  margin: 0 0 10px 0;
  color: #27ae60;
}

#result p {
  margin: 5px 0;
  font-size: 14px;
}

/* Add Book Form */
.add-book-form {
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-book-form input, .add-book-form button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-book-form button {
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-book-form button:hover {
  background-color: #27ae60;
}
